<form id="sign-in-form">
    <div>
        <h1>Sign In</h1>
    </div>
    <div>
        <label for="sign-in-email">Email</label>
        <input required type="email" name="email" id="sign-in-email">
    </div>
    <div>
        <label for="sign-in-password">Password</label>
        <input required type="password" name="password" id="sign-in-password" minlength="8">
    </div>
    <div>
        <button class="btn btn-outline-danger" type="submit">Sign In</button>
    </div>
</form>

<form id="sign-up-form">
    <div>
        <h1>Sign Up</h1>
    </div>
    <div>
        <label for="sign-up-email">Email</label>
        <input required type="email" name="email" id="sign-up-email">
    </div>
    <div>
        <label for="sign-up-password">Password</label>
        <input required type="password" name="password" id="sign-up-password" minlength="8">
    </div>
    <div>
        <label for="confirm-password">Confirm Password</label>
        <input required type="password" name="password" id="confirm-password" minlength="8">
    </div>
    <div>
        <button class="btn btn-outline-danger" type="submit">Sign Up</button>
    </div>
</form>